.DS_Store
.env
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.o
*.a

# Test binary, built with `go test -c`
*.test
*.debug

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.pem

#annona
_start_sh
_build_docker